<li class="list-item col-xs-4">
	<div class="list-item-inner">
		<div class="item-meta">
			<p class="item-org"><a href="/<%= sluggify(item["org"]) unless item["org"].nil? %>.html"><%= item["org"] %></a></p>
			<p class="item-pubdate"><%= item["published"] %></p>
		</div>
		<a href="<%= item["url"] %>" target="_blank">
			<div class="item-main">
				<h4 class="item-title"><%= item["project"] %></h4>
				<p class="prompt">View project <span>&rarr;</span></p>
			</div>
		</a>
	</div>
	<% if !item["tags"].nil? && item["tags"].length > 0 %>
	<div class="item-tags">
		<p>
		<% item["tags"].reject{ |t| t.length < 1 }.each do |tag| %>
			<span class="item-tag"><a href="/<%= sluggify(tag) %>.html"><%= tag %></a></span>
		<% end %></p>
	</div>
	<% end %>
</li>