<% if type == "index" %>

<div class="module border-top u-full-width">
	<h6 class="kicker">Recent Tags</h6>
	<ul class="link-list">
		<li class="link-item"><a href="#"><span></span></a></li>
	</ul>
	<a class="link overflow" href="/tags/index.html"><span>See all &rarr;</span></a>
</div>

<div class="module border-top u-full-width">
	<h6 class="kicker">Recent Tools</h6>
	<ul class="link-list">
		<li class="link-item"><a href="#"><span></span></a></li>
	</ul>
	<a class="link overflow" href="/toolsused/index.html"><span>See all &rarr;</span></a>
</div>

<div class="module border-top u-full-width">
	<h6 class="kicker">Recent Projects</h6>
	<ul class="link-list">
		<li class="link-item"><a href="#"><span></span></a></li>
	</ul>
	<a class="link overflow" href="#"><span>See all &rarr;</span></a>
</div>

<% end %>





<% if type == "tag" %>
	<!-- STANDARD SIDEBAR -->
	<% if tag != "authors" %>
		<% tags_by_subject = tag_list.map { |t| t["subject"] }.reject{ |r| r.nil? }.flatten.uniq %>
		<% if tags_by_subject.length > 0 %>
			<div class="module border-top u-full-width">
				<h6 class="kicker">Related Subjects</h6>
				<ul class="link-list">
					<% tags_by_subject.reject{ |r| r.nil? }.each do |sub| %>
					<% sub = sub.flatten unless !sub.kind_of?(Array) %>
					<%= partial("partials/link_item", :locals => { :slug => sluggify(sub), :item => sub, :type => "subject" }) %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% tags_by_tool = tag_list.map { |t| t["toolsused"] }.reject{ |r| r.nil? }.flatten.uniq %>
		<% if tags_by_tool.length > 0 %>
			<div class="module border-top u-full-width">
				<h6 class="kicker">Related Tools</h6>
				<ul class="link-list">
					<% tags_by_tool.reject{ |r| r.nil? }.each do |tool| %>
					<% tool = tool.flatten unless !tool.kind_of?(Array) %>
					<%= partial("partials/link_item", :locals => { :slug => sluggify(tool), :item => tool, :type => "toolsused" }) %>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>

	<!-- AUTHOR SIDEBAR -->
	<% if tag == "authors" %>

		<% tags_by_org = tag_list.map { |r| r["org"] }.reject{ |r| r.nil? }.flatten.uniq %>
		<% if tags_by_org.length > 0 %>
			<div class="module border-top u-full-width">
				<h6 class="kicker">Organisations</h6>
				<ul class="link-list">
					<% tags_by_org.reject{ |r| r.nil? }.each do |org| %>
					<%= partial("partials/link_item", :locals => { :slug => sluggify(org), :item => org, :type => "org" }) %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% tags_by_tool = tag_list.map { |r| r["toolsused"] }.reject{ |r| r.nil? }.flatten.uniq %>
		<% if tags_by_tool.length > 0 %>
			<div class="module border-top u-full-width">
				<h6 class="kicker">Related Tools</h6>
				<ul class="link-list">
					<% tags_by_tool.reject{ |r| r.nil? }.each do |tool| %>
					<%= partial("partials/link_item", :locals => { :slug => sluggify(tool), :item => tool, :type => "toolsused" }) %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% tags_by_tag = tag_list.map { |r| r["tags"] }.reject{ |r| r.nil? }.flatten.uniq %>
		<% if tags_by_tag.length > 0 %>
			<div class="module border-top u-full-width">
				<h6 class="kicker">Related Tags</h6>
				<ul class="link-list">
					<% tags_by_tag.reject{ |r| r.nil? }.each do |tg| %>
					<%= partial("partials/link_item", :locals => { :slug => sluggify(tg), :item => tg, :type => "tags" }) %>
					<% end %>
				</ul>
			</div>
		<% end %>

	<% end %>




<% end %>
