<!-- RELATED :: AUTHORS -->
<% related_authors = tag_list.map { |r| r["authors"] }.flatten.uniq.reject { |n| n.downcase == tag_name } %>
<% if !related_authors.nil? && related_authors.length > 0 %>
<section class="border-top related authors">
  <div class="section-inner">
    <h4>Related Authors <span class="entry-count"><%= related_authors.length %></span></h4>
    <ul class="link-list in-columns-two">
      <div class="link-set">
        <% (0..10).each do |i| %>
          <% if !related_authors[i].nil? %>
            <% item = related_authors[i] %>
            <% span_class1 = ((i + 1) < 10) ? "class='comma'" : "" %>
                <li class="link-item entry"><a href="/authors/<%= sluggify(item) %>/"><span <%= span_class1 %>><%= item %></span></a></li>
          <% end %>
        <% end %>
        <% (11..20).each do |i| %>
          <% if !related_authors[i].nil? %>
            <% item = related_authors[i] %>
            <% span_class2 = ((i + 1) < 21) ? "class='comma'" : "" %>
                <li class="link-item entry"><a href="/authors/<%= sluggify(item) %>/"><span <%= span_class2 %>><%= item %></span></a></li>
          <% end %>
        <% end %>
      </div>
    </ul>
  </div>
</section>
<% end %><!-- /END -->