<% meta_keys = data["ind-all"].meta.keys %>
<% key_in_array = meta_keys.include? tag %>

<% if key_in_array %>
	<% if tag == "section" || tag == "subject" || tag == "org" %>
		<% if tag == "section" %>
			<% tag_list = data["ind-all"]["projects"].select { |proj| proj["section"].downcase == tag_name unless proj["section"].nil? } %>
		<% end %>
		<% if tag == "subject" %>
			<% tag_list = data["ind-all"]["projects"].select { |proj| proj["subject"].downcase == tag_name unless proj["subject"].nil? } %>
		<% end %>
		<% if tag == "org" %>
			<% tag_list = data["ind-all"]["projects"].select { |proj| proj["org"].downcase == tag_name unless proj["org"].nil? } %>
		<% end %>
	<% else %>
		<% tag_list = data["ind-all"]["projects"].select {|proj| proj[tag].map{|p| p.downcase }.include? tag_name unless proj[tag].nil? } %>
	<% end %>

	<div class="row primary">
		<div class="columns three border-right">
			<%= partial("partials/page_column_left", :locals => { :tag_list => tag_list, :tag => tag, :type => "tag" }) %>
		</div>
		<div class="columns nine">
			<div class="subheader">
				<h6 class="kicker"><%= tag %></h6>
				<h4><%= tag_name.titleize %></h4>
				<p class="entry-count"><%= tag_list.length %> entries</p>
			</div>
			<% if tag != "authors" && tag != "org" %>
			<%= partial("partials/related_orgs", :locals => { :tag_list => tag_list, :tag_name => tag_name, :tag => tag }) %>
			<% end %>
			<%= partial("partials/related_authors", :locals => { :tag_list => tag_list, :tag_name => tag_name, :tag => tag }) %>
			<%= partial("partials/entries_list", :locals => { :tag_list => tag_list, :tag_name => tag_name, :tag => tag }) %>
		</div>
	</div>
<% end %>