---
pageable: true
per_page: 10
---

<% fixes = { "org" => "organisation", "toolsused" => "tools used", "orgtype" => "type of organisation" } %>
<% sections = data["ind-all"].meta.keys.reject{ |k| k == "orgtype" } %>

<%= partial("partials/header", :locals => { :fixes => fixes, :header_class => "index" }) %>

<div class="row primary">
	<div class="columns three border-right">
		<%= partial("partials/page_column_left", :locals => { :type => "index" }) %>
	</div>
	<div class="columns nine">
		<% sections.each do |sect| %>
			<section class="border-top">
				<div class="section-inner">
					<h4><%= (fixes.has_key? sect ) ? fixes[sect].titleize : sect.titleize %></h4>
					<p><strong><%= data["ind-all"].meta[sect].length %> entries</strong></p>
					<ul class="link-list in-columns-two">
						<div class="link-set">
							<% (0..10).each do |i| %>
								<% item = data["ind-all"].meta[sect][i] %>
								<%= partial("partials/link_item", :locals => { :slug => sluggify(item), :item => item, :type => sect }) %>
							<% end %>
							<% (11..20).each do |i| %>
								<% item = data["ind-all"].meta[sect][i] %>
								<%= partial("partials/link_item", :locals => { :slug => sluggify(item), :item => item, :type => sect }) %>
							<% end %>
						</div>
					</ul>
					<a class="link overflow" href="/<%= sluggify(sect) %>/index.html"><span>See all &rarr;</span></a>
				</div>
			</section>
		<% end %>
	</div>
</div>

<div class="prompt submit u-full-width border-top">
	<div class="columns three">
		<h6 class="heading">Submissions</h6>
	</div>
	<div class="columns nine">
		<h3 class="subhead">Don’t see your work in this database?</h3>
		<p>Email <a href="mailto:depot@thethrust.net">depot@thethrust.net</a> with the name of the project and the details behind it and we’ll update the database.</p>
	</div>
</div>



