---
pageable: true
per_page: 10
---

<% fixes = { "org" => "organization", "toolsused" => "tools used", "orgtype" => "type of organization" } %>
<% sections = data["ind-all"].meta.keys.reject{ |k| k == "orgtype" } %>

<%= partial("partials/header", :locals => { :fixes => fixes, :header_class => "index", :active_tag => "index" }) %>

<div class="row primary index">
	<div class="columns three border-right">
		<%= partial("partials/page_column_left", :locals => { :type => "index" }) %>
	</div>
	<div class="columns nine">
		<% sections.reject{ |k| k == "orgtype" || k == "section" }.each do |sect| %>
			<section class="border-top">
				<div class="section-inner">
					<h4><%= (fixes.has_key? sect ) ? fixes[sect].titleize : sect.titleize %> <span class="entry-count"><%= plural_text(data["ind-all"].meta[sect].length) %></span></h4>
					<ul class="link-list in-columns-two">
						<div class="link-set">
							<% (0..10).each do |i| %>
								<% item = data["ind-all"].meta[sect][i] %>
								<%= partial("partials/link_item", :locals => { :slug => sluggify(item), :item => item, :type => sect }) %>
							<% end %>
							<% (11..20).each do |i| %>
								<% item = data["ind-all"].meta[sect][i] %>
								<%= partial("partials/link_item", :locals => { :slug => sluggify(item), :item => item, :type => sect }) %>
							<% end %>
						</div>
					</ul>
					<a class="link overflow" href="/<%= sluggify(sect) %>/"><span>See all &rarr;</span></a>
				</div>
			</section>
		<% end %>
	</div>
</div>



