<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Depot</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "normalize.css" %>
    <%= stylesheet_link_tag "normalize-opentype.css" %>
    <%= stylesheet_link_tag "html5-boilerplate.css" %>
    <%= stylesheet_link_tag "skeleton" %>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>

    <div id="main" class="main" role="main">
      <div class="main-inner container" role="main">
        
        <%= yield %>

        <div class="prompt submit u-full-width border-top">
          <div class="columns three">
            <h6 class="kicker">Submissions</h6>
          </div>
          <div class="columns nine">
            <h3 class="subhead">Don’t see your work in this database?</h3>
            <p>Email <a href="mailto:depot@thethrust.net">depot@thethrust.net</a> with the name of the project and the details behind it and we’ll update the database.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="back-to-top" class="button"><a href="#"><span class="arrow up">&uarr;</span></a></div>

    <%# partial("partials/footer", :locals => {}) %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
